In [2]:
import pandas as pd
import numpy as np

In [15]:
arr = np.arange(1,101).astype(np.int8)
panda = pd.Series(arr, index=arr)
panda

1        1
2        2
3        3
4        4
5        5
      ...
96      96
97      97
98      98
99      99
100    100
Length: 100, dtype: int8

In [21]:
panda.dtype

dtype('int8')

In [22]:
import sys

In [25]:
sys.getsizeof(panda.dtype)

120

In [26]:
panda.clip(10,45)

1      10
2      10
3      10
4      10
5      10
       ..
96     45
97     45
98     45
99     45
100    45
Length: 100, dtype: int8

In [27]:
panda.drop_duplicates()

1        1
2        2
3        3
4        4
5        5
      ...
96      96
97      97
98      98
99      99
100    100
Length: 100, dtype: int8

In [28]:
panda.isnull()

1      False
2      False
3      False
4      False
5      False
       ...
96     False
97     False
98     False
99     False
100    False
Length: 100, dtype: bool

In [33]:
int_ser = pd.Series([1,3,np.nan,5,7,np.nan,9, np.nan])

In [38]:
int_ser.isnull().sum()

np.int64(3)

In [35]:
int_ser[int_ser.isnull()]           # This is masking

2   NaN
5   NaN
7   NaN
dtype: float64

In [39]:
int_ser.dropna()

0    1.0
1    3.0
3    5.0
4    7.0
6    9.0
dtype: float64

In [40]:
int_ser.fillna("Fill null values")

0                 1.0
1                 3.0
2    Fill null values
3                 5.0
4                 7.0
5    Fill null values
6                 9.0
7    Fill null values
dtype: object

In [42]:
int_ser.fillna(np.mean(int_ser))

0    1.0
1    3.0
2    5.0
3    5.0
4    7.0
5    5.0
6    9.0
7    5.0
dtype: float64

In [43]:
int_ser

0    1.0
1    3.0
2    NaN
3    5.0
4    7.0
5    NaN
6    9.0
7    NaN
dtype: float64